/* @import 'daisyui/theme/cmyk.css'; */
@import 'daisyui/theme/emerald.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* improve typography for markdown previews */
.prose {
	max-width: none;
}